* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Articulat CF V2", sans-serif;
}

.regis_wrapper {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regis_form {
    background: white;
    padding: 40px 45px;
    border-radius: 20px;
    font-size: 17px;
    letter-spacing: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    max-width: 500px;
    overflow: hidden;
    width: 50%;
    user-select: none;
    transition: background-color 0.6s;
}

.regis_form:hover {
    background-color: #5a5d61;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 35px;
    user-select: none; 
}

.regis_form label {
    font-size: 17px;
    letter-spacing: 1px;
    display: block; 
    margin-bottom: 5px;
    user-select: none;
}

.regis_form input {
    width: 100%;
    height: 30px;
    border: none;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2); 
    cursor: text;
    user-select: text;
    transition: color 0.3s;
}

.regis_form:hover{
    color: #dbdbdb;
}

.subButton button {
    padding: 10px 15px;
    background: lightskyblue;
    border-radius: 8px;
    font-weight: 200px;
    border: .5px #2a8bb5;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); 
    font-size: 15px;
    cursor: pointer; 
    width: auto; 
    transition: all 0.3s; 
}

.subButton button:hover {
    background: #c2e59c;  
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c); 
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    color: white;
}


.subButton {
    text-align: center;
}
.copyright {
    text-align: center;
    margin-top: -56px;
    font-size: 18px;
    color: black;
    opacity: 13.7;
}


@media screen and (max-width: 600px) {
    .regis_wrapper {
        align-items: flex-start; 
        align-items: center; 
        min-height: 100vh;
    }
    
    .regis_form {
        width: 85%; 
        font-size: 14px;
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }
    
    .heading {
        font-size: 24px; 
        margin-bottom: 20px; 
    }
    
    .regis_form label {
        font-size: 14px; 
    }
    
    .regis_form input {
        height: 25px;
        padding: 8px; 
    }
    
    .subButton button {
        padding: 8px 12px; 
        font-size: 13px; 
    }
}

