*{
    margin: 0;
    padding: 0;
}


.regis_wrapper{
    background: rgb(22,146,70);
    background: linear-gradient(90deg, rgba(22,146,70,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
}

.regis_form{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
    padding: 40px 45px 40px 45px;
    border-radius: 10px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;

}

.heading{
    left: 50%;
    right: 50%;
    font-weight: bold ;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 2px;
}

.regis_form label {
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.regis_form input {
    width: 230px;
    height: 30px;
    border: none;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subButton button {
    padding: 10px 20px;
    background: lightskyblue;
    border-radius: 10px;
    border: none;
}

.subButton {
    text-align: center;
}




